@import "../../../styles/variables.module.scss";

.meals-wrapper {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 2vw;
  row-gap: 2vh;
  background-color: $mainBackground;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
