.card {
  display: flex;
  flex-direction: column;

  .card-content {
    flex: 1;
  }
}
.card-title {
  max-width: 30vw;
  word-break: break-all;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
}
