@import "../../../styles/variables.module.scss";

.picture-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  .upload-input {
    &:hover {
      color: $primaryDarkColor;
    }
    background-color: $primaryLightColor;
    label {
        cursor: pointer;
    }
  }
}
