@import "../../../styles/variables.module.scss";

.picture-wrapper {
  .edit-img-button {
    background-color: rgba(251, 251, 251, 0.6);
    color: $primaryDarkColor;
    padding: 0.5em;
    margin: 0.2em;
    min-width: 2em;
    &:hover {
      transition: 0.3s;
      background-color: rgba(251, 251, 251, 0.7);
    }
    .edit-icon {
      font-size: large;
    }
  }
  .image-url-input {
    background-color: rgba(251, 251, 251, 0.3);
    // border-radius: 5%;
    // padding: 0;
    margin: 0.2em;
  }
}
