@import "../../../styles/variables.module.scss";

.form-widget {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: $mainBackground;
  margin: 5% 20%;
  .form-input {
    display: grid;
    justify-content: center;
    align-content: center;
    label {
      width: 30%;
      min-width: 100px;
      display: inline-block;
    }
  }
  img {
    border-radius: 8px;
  }
  button {
    cursor: pointer;
  }
}
