@import "../../../styles/variables.module.scss";

.container {
  background-color: $mainBackground;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  height: 100vh;
  padding-top: 1em;
}

.card-preview {
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
  min-width: 20vw;
}

.form-meal-edit {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  gap: 0.5em;
}

@media screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }
  .card-preview {
    flex-basis: 100%;
    max-width: 50vw;
  }
}

@media screen and (min-width: 1024px) {
  .container {
  }
  .card-preview {
  }
  .form-meal-edit {
    gap: 2em;
  }
}
