@import "../../../styles/variables.module.scss";

.container {
  background-color: $mainBackground;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2vh;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 10%;
  // height: 98vh;
}

.card-preview {
}

.card {
  // flex: 45%;
  max-width: 33%;
}

.form-meal-edit {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  gap: 0.5rem;
}
// .card-title {
//   overflow-wrap: anywhere;
//   text-overflow: ellipsis;
//   word-wrap: break-word;
//   white-space: nowrap;
//   overflow: hidden;

//   &:hover {
//     width: auto;
//     overflow: visible;
//     white-space: normal;
//   }
// }
