@import "../../../styles/variables.module.scss";

.header {
  .app-bar {
    height: $headerHeight;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .mobile-menu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .links-container {
      display: flex;
      align-items: center;
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    li {
      list-style-type: none;
      color: $mainBackground;
      font-weight: 500;
    }
  }
}
