@import "./styles/variables.module.scss";

.container {
  margin: 0px;
  padding: 0px;
  background-color: $mainBackground;
  height: calc(100% - $headerHeight);
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.auth-container {
  @media screen and (min-width: 1024px) {
    background-size: 80%, 50%;
  }
  background-size: 100%, 70%;

  background-image: url("../public/auth-screen-background-2.png"),
    url("../public/auth-page-background-1.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;

  @media (orientation: portrait) {
    height: 100%;
  }
}

.analytics-chart {
  width: 100vw;
  height: calc(100% - $headerHeight);
  display: flex;
  justify-items: center;
  padding: 3em;
}
