@import "./styles/variables.module.scss";

.container {
  margin: 0px;
  padding: 0px;
  background-color: $mainBackground;
  height: calc(100% - $headerHeight);
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.auth-container {
  background-image: url("../public/auth-screen-background-2.png");
  background-size: 100%;

  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100% - $headerHeight);

  @media (orientation: portrait) {
    background-image: url("../public/auth-screen-background-portrait.png");
  }
}

.analytics-chart {
  width: 100vw;
  height: calc(100% - $headerHeight);
  display: flex;
  justify-items: center;
  padding: 3em;
}
