$primaryDarkColor: #2c3639;
$primaryLightColor: #3f4e4f;
$secondaryColor: #a27b5c;
$mainBackground: #dcd7c9;

:export {
  primaryDarkColor: $primaryDarkColor;
  primaryLightColor: $primaryLightColor;
  secondaryColor: $secondaryColor;
  mainBackground: $mainBackground;
}
